.select {
  margin: 30px 100px;
  width: 140px;
  height: 30px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: none;
}

.select::-moz-list-bullet {
  background-color: black;
}
option {
  font-family: Helvetica, Arial, sans-serif;
}

option:hover {
  background-color: black;
}
