@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Josefin+Sans:wght@100&display=swap");

.App {
  text-align: center;
  height: 100%;
  min-height: 130vh;
  min-width: 100vh;

  background-image: url("https://images3.alphacoders.com/812/812062.png");
  background-repeat: repeat;
  background-position: top;
  background-size: cover;
  background-color: rgb(118, 160, 146);
}

.logo {
  width: 50%;
  height: 13em;
  object-fit: cover;
  animation-name: logoAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes logoAnimation {
  0% {
    transform: scale(0.7) rotateZ(0deg);
    filter: blur(1px) drop-shadow(0px 0px 0px red) brightness(0.7);
  }

  50% {
    transform: scale(1) rotateZ(3deg);
    filter: blur(0px) drop-shadow(16px 16px 20px rgb(83, 162, 247))
      brightness(1.6);
  }

  100% {
    transform: scale(0.7) rotateZ(0deg);
    filter: blur(1px) drop-shadow(0px 0px 0px red) brightness(0.7);
  }
}
